@model AdminLar.Models.Balancetes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Balancetes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Apartamento.NomeApe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apartamento.NomeApe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataBal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataBal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arquivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arquivo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Balid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
