@model PI_4º_Semestre.Models.Administrador

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Administrador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Confirmasenha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Confirmasenha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmNome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Codigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
