@model IEnumerable<PI_4º_Semestre.Models.Visitante>



@{
    Layout = "~/Views/Shared/_LayoutPorteiro.cshtml";
}


<p>
    <a class="btn btn-app bg-red visita" data-toggle="modal" data-target="#modal-visitante"><i class="fa fa-plus-circle"></i>Adicionar Visitante</a>
</p>


<div class="box box-primary">
    <div class="box-header with-border"><h3 class="box-title"> Visitantes Cadastrados </h3></div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="tblVisitas table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NumeroRg)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NomeVisitante)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NumeroApartamentoVisita)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataVisita)
                        </th>
                        <th>
                            Ações
                        </th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                           
                            <td>
                                @Html.DisplayFor(modelItem => item.NumeroRg)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomeVisitante)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Condomino.Con_NumeroApartamento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataVisita)
                            </td>
                            <td>
                                <a href="/Visitantes/Edit/@item.CodigoVisita" class="btn btn-default" title="Editar Área"><i class="fa fa-edit"></i></a>
                                <a  href="/Visitantes/Details/@item.CodigoVisita" class="btn btn-default detalhes" title="Detalhes da visita"><i class="fa fa-eye"></i></a>
                                <a href="/Visitantes/Delete/@item.CodigoVisita" class="btn btn-danger" title="Deletar Visitante"><i class="fa fa-ban"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal Cadastra Visitante -->

<div class="modal fade" id="modal-visitante">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Adicionar Visitante</h4>
            </div>
            <div class="modal-body">

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-address-card"></i></span>
                    <input type="email" class="form-control" id="rg" placeholder="Número do rg do visitante" required>
                </div>
                <br>

                
                    @*<span class="input-group-addon"><i class="fa fa-home"></i></span>*@
                    <input type="hidden" class="form-control" id="numero" placeholder="Número do Apartamento visitado">
               

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" id="visitante" placeholder="Nome do visitante">
                </div>
                <br />

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                    <input type="text" class="form-control" id="datavisita" placeholder="Data da Visita">
                </div>

                <br />

                <label> Visitando o Condômino no apartamento número </label>

                <select id="Codigo" name="Codigo" class="form-control">
                    <option> Selecione </option>
                    @{
                        foreach (var item in ViewBag.Condominos)
                        {

                         
                            <option value="@item.Codigo">@item.Con_NumeroApartamento</option>

                        }

                    }
                </select>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Fechar</button>
                <button type="submit" id="btnVisita" class="btn btn-success">Cadastrar Visita</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{


    <script src="~/Content/js/toastr.min.js"></script>
    <script src="~/Content/js/jquery.mask.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {


            $('.tblVisitas').DataTable({

                "oLanguage": {

                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                },

                "lengthChange": false


            });


            //Mascara para data e para Rg

            $('#rg').mask('00.000.000-00');
            $('#datavisita').mask('00/00/0000');


            $('#btnVisita').click(function () {

                var rg = $("#rg").val();
                var numero = $("#numero").val();
                var visitante = $("#visitante").val();
                var date = $("#datavisita").val();
                var codigo = $("#Codigo").val();

                //pega data atual do sistema e converte para o formato de data

                var dataagora = "@DateTime.Now.ToString("dd/MM/yyyy")";

                var url = '@Url.Action("SalvaVisitante", "Visitantes")';

                if (rg == "") {

                    toastr.error("Preencha o campo RG");

                }  else if (visitante == "") {

                    toastr.error("Digite o nome do visitante");

                } else if (date == "" || date < dataagora) {

                    toastr.error("Preencha o campo data da visita com uma visita válida");

                } else if (codigo == "Selecione") {


                    toastr.error("Selecione o condômino que o visitante irá visitar")

                }

            else
                {

                    $.post(url, { Rg: rg, Visitante: visitante, Date: date, Codigo: codigo },

                        function (data) {

                            toastr.success("Visitante cadastrado com sucesso");
                            window.location.href = "@Url.Action("Index", "Visitantes")";
                        })
                        .fail(function () {

                            alert("error");
                        });

                }

                });


        });

    </script>

}



