@model IEnumerable<PI_4º_Semestre.Models.AreaLazer>

@{
    Layout = "~/Views/Shared/_LayoutCondomino.cshtml";
}


<div class="box box-primary">
    <div class="box-header with-border"><h3 class="text-center box-title"> Áreas de Lazer </h3></div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="tblArea table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NomeArea)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.descricao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Regras)
                        </th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeArea)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Regras)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/Content/js/DataTable.js"></script>

    <script type="text/javascript">

        $(function () {

            //adiciona data table na tabela

            $('.tblArea').DataTable({

                "oLanguage": {

                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                },

                "lengthChange": false


            });

        });

    </script>

}