@model AdminLar.Models.Condomino


@{
    Layout = "~/Views/Shared/_LayoutCondomino.cshtml";
}

@{

    AdminLar.Models.Condomino usuario = AdminLar.Repositories.Funcoes.GetCondomino();
    bool logado = false;
    if (usuario != null)
    {
        logado = true;
    }
    else
    {

        <script type="text/javascript">

                window.location.href = "@Url.Action("AcessoNegado", "Landing")";

        </script>

    }

    if (logado)
    {

       
        <div class="box box-primary">
            <div class="box-header with-border"><h3 class="box-title"> Lista de Pendências registradas </h3></div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="tblInadimplencia table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Condomínio
                                </th>
                                <th>
                                    Condômino
                                </th>
                                <th>
                                    Valor da pendência (R$)
                                </th>
                                <th>
                                   Status
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.Inadimplecia)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Apartamento.NomeApe)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Condomino.Con_Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.valor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        @section Scripts{


            <script src="~/Content/js/DataTable.js"></script>
            <script src="~/Content/js/toastr.min.js"></script>
            <script src="~/Content/js/jquery.mask.min.js"></script>

            <script type="text/javascript">



                $(function () {

                    //adiciona data table na tabela

                    $('.tblInadimplencia').DataTable({

                        "oLanguage": {

                            "sEmptyTable": "Nenhum registro encontrado",
                            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sInfoThousands": ".",
                            "sLoadingRecords": "Carregando...",
                            "sProcessing": "Processando...",
                            "sZeroRecords": "Nenhum registro encontrado",
                            "sSearch": "Pesquisar",
                            "oPaginate": {
                                "sNext": "Próximo",
                                "sPrevious": "Anterior",
                                "sFirst": "Primeiro",
                                "sLast": "Último"
                            },
                            "oAria": {
                                "sSortAscending": ": Ordenar colunas de forma ascendente",
                                "sSortDescending": ": Ordenar colunas de forma descendente"
                            }
                        },

                        "lengthChange": false


                    });


                });

            </script>

        }


    }

}
