@model IEnumerable<AdminLar.Models.Sindico>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{

    AdminLar.Models.Sindico usuario = AdminLar.Repositories.Funcoes.GetUsuario();
    bool logado = false;
    if (usuario != null)
    {
        logado = true;
    }
    else
    {

        <script type="text/javascript">

                window.location.href = "@Url.Action("AcessoNegado", "Landing")";

        </script>

    }



    if (logado)
    {


        <div class="box box-primary">
            <div class="box-header with-border"><h3 class="box-title"> Lista de Síndicos cadastrados no sistema </h3></div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="tblSindicos table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sin_Nome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sin_NumeroApartamento)
                                </th>
                                <th>
                                    Ações
                                </th>
                            </tr>

                        </thead>

                        <tbody>

                            @foreach (var item in Model)
                            {


                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sin_Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sin_NumeroApartamento)
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-default detalhes" data-id="@item.Codigo" data-toggle="modal" data-target="#modal-detalhes" title="Detalhes"><i class="fa fa-eye"></i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- Modal Detalhes -->

        <div class="modal fade" id="modal-detalhes">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Detalhes do Síndico</h4>
                    </div>
                    <div class="modal-body">

                        <!-- Carrega o modal detalhes dos condominos -->

                        <div id="conteudo">  </div>

                    </div>
                </div>
            </div>
        </div>

        @section Scripts{

            <script src="~/Content/js/DataTable.js"></script>
            <script src="~/Content/js/toastr.min.js"></script>
            <script src="~/Content/js/jquery.mask.min.js"></script>

            <script type="text/javascript">

                $(function () {

                    //adiciona data table na tabela

                    $('.tblSindicos').DataTable({

                        "oLanguage": {

                            "sEmptyTable": "Nenhum registro encontrado",
                            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sInfoThousands": ".",
                            "sLoadingRecords": "Carregando...",
                            "sProcessing": "Processando...",
                            "sZeroRecords": "Nenhum registro encontrado",
                            "sSearch": "Pesquisar",
                            "oPaginate": {
                                "sNext": "Próximo",
                                "sPrevious": "Anterior",
                                "sFirst": "Primeiro",
                                "sLast": "Último"
                            },
                            "oAria": {
                                "sSortAscending": ": Ordenar colunas de forma ascendente",
                                "sSortDescending": ": Ordenar colunas de forma descendente"
                            }
                        },

                        "lengthChange": false


                    });


                    //Carrega modal detalhes

                    $(".detalhes").click(function () {


                        var id = $(this).attr("data-id");

                        //load carrega a view controller detalhes que o layout está null para não vir bugado kkkkkk

                        $("#conteudo").load("/Sindicos/Details/" + id, function () {


                            $("#modal-detalhes").modal("show");

                        });

                    });

                });

            </script>

        }

    }

}