@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Bundles/css")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>


@Scripts.Render("~/Bundles/js")
@Scripts.Render("~/bundles/jqueryval")
@RenderSection("Scripts", required: false)


</html>


