@model IEnumerable<AdminLar.Models.Ocorrencias>

@{
    Layout = "~/Views/Shared/_LayoutCondomino.cshtml";
}


@{

    AdminLar.Models.Condomino usuario = AdminLar.Repositories.Funcoes.GetCondomino();
    bool logado = false;
    if (usuario != null && usuario.Status == "Ativo")
    {
        logado = true;
    }
    else
    {

        <script type="text/javascript">

                window.location.href = "@Url.Action("AcessoNegado", "Landing")";

        </script>

    }



    if (logado)
    {


        <p>
            <a class="btn btn-app bg-red" data-toggle="modal" data-target="#modal-area"><i class="fa fa-plus-circle"></i>Realizar Ocorrência</a>

        </p>

        <div class="box box-primary">
            <div class="box-header with-border"><h3 class="box-title"> Minhas Ocorrências  </h3></div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="ata" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.datahoraocorrencia)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descricao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CondoNome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.datahoraocorrencia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descricao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CondoNome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <!-- Modal de realização de ocorrências  -->

        <div class="modal fade" id="modal-area">
            <div class="modal-dialog">
                <div class="modal-content">

                    @using (Html.BeginForm("Create", "Ocorrencias", null, FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return Valida();" }))
                    {

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Realizar Ocorrência</h4>
                        </div>
                        <div class="modal-body">


                            <div class="form-group">

                                <label>Descreva o que está acontecendo</label>
                                <input class="form-control" name="descricao" id="descricao" style="height:50px" placeholder="Descricao" />
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-success">Efetuar Ocorrência</button>
                        </div>
                    }
                </div>
            </div>
        </div>


        @section Scripts{


            <script src="~/Content/js/DataTable.js"></script>
            <script src="~/Content/js/toastr.min.js"></script>
            <script src="~/Content/js/jquery.mask.min.js"></script>

            <script type="text/javascript">


                function Valida() {

                    //pegando as variáveis pelo id

                    var descricao = $('#descricao').val();

                    //enviando dados para o Salvar Ata via Json

                    if (descricao == "") {

                        toastr.error("Preencha algo sobre sua ocorrência");

                        return false;

                    }  else {

                        toastr.success("Ocorrência realizada com sucesso");

                    }

                }



                $(function () {

                    //adiciona data table na tabela

                    $('#ata').DataTable({

                        "oLanguage": {

                            "sEmptyTable": "Nenhum registro encontrado",
                            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sInfoThousands": ".",
                            "sLoadingRecords": "Carregando...",
                            "sProcessing": "Processando...",
                            "sZeroRecords": "Nenhum registro encontrado",
                            "sSearch": "Pesquisar",
                            "oPaginate": {
                                "sNext": "Próximo",
                                "sPrevious": "Anterior",
                                "sFirst": "Primeiro",
                                "sLast": "Último"
                            },
                            "oAria": {
                                "sSortAscending": ": Ordenar colunas de forma ascendente",
                                "sSortDescending": ": Ordenar colunas de forma descendente"
                            }
                        },

                        "lengthChange": false


                    });

                });

            </script>

        }

    }

}
